@using GridMvc.Html

@model IEnumerable<WMS.Models.Perfil >

@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WMS - Cadastro de Perfil</title>
</head>
<body>
    <div>
        @Html.Grid(Model).Named("grdPerfil").Columns(
            columns =>
            {
                columns.Add(p => p.idPerfil).Titled("Código");
                columns.Add(p => p.desPerfil).Titled("Descrição");

                columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(p => @<span id="p.IdPerfil">&nbsp;</span>);

            }).WithPaging(2).Sortable(true)
       
    </div>
</body>
</html>
